{% extends 'base.html' %}
{% block title %}
    <title>Livres</title>
{% endblock %}

{% block content %}
    <div class="main">
        <div class="under-nav">
            <a href="{% url 'livres:create_livre' %}"><button class="btn btn-add">Ajouter un livre</button></a>
        </div>
    <span class="page-title">Livres</span>
        <div>
        {% for livre in livres %}
            <div class="card">
                <div class="main">
                    <span class="title">{{ livre.title.title }}</span>
                    <p>Écrit par <span class="author">{{ livre.author.title }}</span></p>
                    <div class="categories">
                        <p>
                            Categorie : 
                            <ul class="inlinelist">
                                {% for category in livre.categories.all %}
                                    <li class="categorie">{{ category.nom }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                    <p>{{ livre.description|safe|truncatewords:40 }}</p>
                </div>
                <div class="side-action">
                    <form action="{% url 'livres:detail_livre' slug=livre.slug %}">
                        <button class="btn btn-normal">Voir Plus</button>
                    </form>
                    <a href="{% url 'livres:update_livre' slug=livre.slug %}">
                        <button class="btn btn-normal">Modifier</button>
                    </a>
                    <a href="{% url 'livres:delete_livre' slug=livre.slug %}">
                        <button class="btn btn-danger">Supprimer</button>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}